extends ../default

append assignments
	

block content
	h1 #{pageTitle}
	hr

	.row
		.col-md-6			
			if multipart
				form.form-horizontal(method='POST', action=postUrl, enctype='multipart/form-data')
					+formContent
			else
				form.form-horizontal(method='POST', action=postUrl)
					+formContent

mixin formContent
	.row
		.col-md-12			
			block formControls

	.row
		.col-md-12
			hr
			+formActions(baseUrl)