extends ../../_layouts/forms/form

include ../../_includes/_mixins/ngFormMixins
include ../../_includes/_mixins/formMixins

prepend assignments
	-mainLink = 'DATA'
	-subLink = 'VEHICLE_AREA_STOPS'
	-postUrl = '/data/vehicleAreaStop/upload'
	-pageTitle = 'Upload Vehicle Area Stops'
	-ctrl = 'uploadCtrl'


block content
	h1 #{pageTitle}
		a(id='help', class='help', title='show tips',href='#help') Help?
	hr

	.row
		.col-md-6			
			form.form-horizontal(method='POST', action=postUrl, enctype='multipart/form-data')
				.row
					.col-md-12						
						+ngSelectNgChange('areaId', 'Area', areas, areaId, 'areaId', 'loadAreaDetails()')
						+select('seatConfigurationId', 'Seat Conf.', seatConfigurations, seatConfigurationId)
						+ngText('topLeftBoundsLat', 'Top Left Lat', topLeftBoundsLat)
						+ngText('topLeftBoundsLng', 'Top Left Lng', topLeftBoundsLng)
						+ngText('bottomRightBoundsLat', 'Bottom Right Lat', bottomRightBoundsLat)
						+ngText('bottomRightBoundsLng', 'Bottom Right Lng', bottomRightBoundsLng)
						
						.form-group
							label.col-md-4.control-label(for='surveyData') Survey Data
							.col-md-7									
								input.form-control.input-md(name='surveyData', type='file')

				.row
					.col-md-12
						hr
						.form-group
							label.col-md-2.control-label
							.col-md-10.well
								+submitButton('Upload')
								+resetButton()
								+urlButton('Cancel', baseUrl)
		.help_box
			h4
				b Vehicle Area Stop Processing
				a(id='close', class='close') x
			i This process is the same process the previous one. The different here is, it will be process the vehicle data and store it to the database area stop.
			br
			br
			|1. Select the area of the uploaded file. Now it will generate the boundaries of the area.
			br
			|2. Select seat configuration. Default is 3 in and 2 driver at back.
			br
			|3. Then choose the zip file and click upload.
			br
			b Located at: 
			font(color='darkblue') teams/data/downloads/(name-of-zip-file)-output.zip
			hr
			h5 Looks like:
			img(class='help_img',src='/resources/images/data/2.png')
			br
			hr
			h5
				b Note:
			i This is the third process. This process will create a areastop table on the database and stored the collected data of the uploaded file.
			i The collected data that was stored on the database will be the references of the next or other processes.
			br
			br

block scriptIncludes
	script(type='text/javascript', src='/controllers/data/vehicleAreaStop/uploadCtrl.js')
