extends ../../_layouts/forms/form

include ../../_includes/_mixins/ngFormMixins
include ../../_includes/_mixins/formMixins

prepend assignments
	-mainLink = 'DATA'
	-subLink = 'GPS_TRACE'
	-postUrl = '/data/gpsTrace/upload'
	-pageTitle = 'Upload GPS Trace'


block content
	h1 #{pageTitle}
	hr

	.row
		.col-md-6			
			form.form-horizontal(method='POST', action=postUrl, enctype='multipart/form-data')
				.row
					.col-md-12						
						+text('topLeftBoundsLat', 'Top Left Lat', topLeftBoundsLat)
						+text('topLeftBoundsLng', 'Top Left Lng', topLeftBoundsLng)
						+text('bottomRightBoundsLat', 'Bottom Right Lat', bottomRightBoundsLat)
						+text('bottomRightBoundsLng', 'Bottom Right Lng', bottomRightBoundsLng)
						
						.form-group
							label.col-md-4.control-label(for='surveyData') Survey Data
							.col-md-7									
								input.form-control.input-md(name='surveyData', type='file')

				.row
					.col-md-12
						hr
						.form-group
							label.col-md-2.control-label
							.col-md-10.well
								+submitButton('Upload')
								+resetButton()
								+urlButton('Cancel', baseUrl)

block scriptIncludes