extends ../../_layouts/default

include ../../_includes/_mixins/ngFormMixins
include ../../_includes/_mixins/formMixins

append styleIncludes
	link(rel='stylesheet', href='/resources/css/leaflet.css')
	link(rel='stylesheet', href='/resources/css/font-awesome.min.css')

block assignments
	-mainLink = 'REPORTS'
	-subLink = 'VEHICLE_ORIGIN_DESTINATIONS'
	-pageTitle = 'Vehicle Origin Destinations'
	-ctrl = 'showCtrl'
	//-hours = [{id: 7, name: '6 AM'}, {id: 8, name: '7 AM'}, {id: 9, name: '8 AM'}, {id: 10, name: '9 AM'}, {id: 11, name: '10 AM'}, {id: 12, name: '11 AM'}, {id: 13, name: '12 PM'}, {id: 14, name: '1 PM'}, {id: 15, name: '2 PM'}, {id: 16, name: '3 PM'}, {id: 17, name: '4 PM'}, {id: 18, name: '5 PM'}, {id: 19, name: '6 PM'}, {id: 20, name: '7 PM'}, {id: 21, name: '8 PM'}]
	-hours = [{id: 6, name: '6 AM'}, {id: 7, name: '7 AM'}, {id: 8, name: '8 AM'}, {id: 9, name: '9 AM'}, {id: 10, name: '10 AM'}, {id: 11, name: '11 AM'}, {id: 12, name: '12 PM'}, {id: 13, name: '1 PM'}, {id: 14, name: '2 PM'}, {id: 15, name: '3 PM'}, {id: 16, name: '4 PM'}, {id: 17, name: '5 PM'}, {id: 18, name: '6 PM'}, {id: 19, name: '7 PM'}, {id: 20, name: '8 PM'}]
	
block content
	h2 {{pageTitle}}

	.row
			.col-md-9
				.row
					.col-md-12
						div(id='map', style='height: 550px;')				

			.col-md-3
				form.form-horizontal
					+ngSelectNgChange('area', 'Area', areas, areaId, 'area', 'loadRoutes()')
					+ngSelectDependentNgChange('route', 'Route', routeId, 'route', 'routes', 'loadSamples()')
					+ngSelectNgChange('hour', 'Hour', hours, hourId, 'hour')
					+ngSelectWithNoSelectedText('sample', 'Sample', sampleNumbers, 'sampleNumber', 'samples', 'All')
					+ngFormGroup('', ' ')
						+ngDefaultButton('toggleShowBoardingOrAlighting()')
					+ngFormGroup('', ' ')
						+ngSubmitButton('Fetch', '', 'loadReport()')
				
				hr
				//- h3(ng-model='tableTitle')
				//- table.table.table-striped.table-bordered.table-condensed
				//- 	thead
				//- 		th Stop
				//- 		th Boarding						
				//- 		th Alighting						
				//- 	tbody
				//- 		tr(ng-repeat="ba in boardingAlightings")
				//- 			td {{ba.name}}
				//- 			td.text-right
				//- 				strong {{ba.boarding}}
				//- 			td.text-right
				//- 				strong {{ba.alighting}}
				
				h4 Legend				
				table(id='tbl_boardingAlightings', class='table table-striped table-bordered table-condensed')
					thead
						th Color
						th Value						
					tbody
						tr
							td(style='color: black') Black
							td.text-right
								strong 0
						tr
							td(style='color: green') Green
							td.text-right
								strong 1 - 5
						tr
							td(style='color: gold') Gold
							td.text-right
								strong 6 - 10
						tr
							td(style='color: orange') Orange
							td.text-right
								strong 11 - 15
						tr
							td(style='color: red') Red
							td.text-right
								strong > 16

block scriptIncludes
	script(type='text/javascript', src='/resources/js/leaflet.js')
	script(type='text/javascript', src='/resources/js/leaflet-google.js')
	script(type='text/javascript', src='/controllers/reports/vehicleOriginDestinations/showCtrl.js')

	script.
		initMap();
