extends ../../_layouts/default

block assignments
	-mainLink = 'ADMIN'
	-subLink = 'MANAGE_AREA'
	-pageTitle = 'Unauthorize Page'
	
block content
	br
	br
	h1
		p(align='center')
			b Unauthorize page at this current session.
		p(align='center')
			|Please login as administrator.
